@model TaskReportVM
@using Humanizer;
@using NepDate

@{
    ViewData["Title"] = "Completed Tasks";
}


@* Filter Form *@
<div class="card">
    <div class="card-body">
        <form method="get">
            <div class="row mb-2">
                <div class="col-3">
                    <input type="text" asp-for="TaskTitle" class="form-control form-control-border" placeholder="Task Name" autofocus>
                </div>
                <div class="col-3">
                    <select class="form-control form-control-border" asp-for="TaskTypeId" asp-items="@Model.TaskTypesList()">
                        <option value="">-- Select Task Type --</option>
                    </select>
                </div>
                <div class="col-3">
                    <select class="form-control form-control-border" asp-for="TaskTime" asp-items="@Model.TaskTimeList()">
                        <option value="">-- Select Update Time --</option>
                    </select>
                </div>
                <div class="col-3">
                    <select class="form-control form-control-border" asp-for="CreatedBy" asp-items="@Model.UserList()">
                        <option value="">-- Select User --</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-8">
                    <input type="text" asp-for="ClientName" class="form-control form-control-border" placeholder="Client Name">
                </div>

                <div class="col-4 d-flex justify-content-center align-items-center">
                    <button type="submit" class="btn btn-primary w-100">Search <i class="fas fa-search fa-fw"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>


<partial name="_DataTableCSS" />


<div class="card">
    <div class="card-header">
        <h4>Completed Tasks</h4>
    </div>
    <div class="card-body">
        @if (Model.Tasks != null && Model.Tasks.Count > 0)
        {
            <table id="datatable" class="table table-hover table-striped table-sm w-100">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Task Name</th>
                        <th scope="col">Client Name</th>
                        <th scope="col">Cloud URL</th>
                        <th scope="col">Task Type</th>
                        <th scope="col">Task Time</th>
                        <th scope="col">High Priority</th>
                        <th scope="col">Created Date</th>
                        <th scope="col">Created By</th>
                        <th scope="col">Proceed By</th>
                        <th scope="col">Completed By</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int sn = 0;
                    }
                    @foreach (var item in Model.Tasks)
                    {
                        sn++;
                        <tr>
                            <td>@sn</td>
                            <td>@item.TaskTitle</td>
                            <td style="width:15%">@item.ClientName</td>
                            <td><a href="@item.CloudURL" target="_blank">@item.CloudURL</a></td>
                            <td>@item.TaskTypeName</td>
                            <td>@item.TaskTime</td>
                            <td>@item.HighPriority</td>
                            <td>@Convert.ToDateTime(item.RecDate).ToNepaliDate().ToString()</td>
                            <td>@item.RecBy</td>
                            <td>@item.ProccedBy</td>
                            <td>@item.CompletedBy</td>
                            <td>
                                <button type="button" data-toggle="modal" data-target="#TaskModal-@item.Id" class="btn btn-sm btn-primary">
                                    Details
                                    <i class="fa fa-eye"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        @* else
        {
            <h4>No Records Found !</h4>
        } *@
    </div>
</div>



@{
    Html.RenderPartial("~/Views/Shared/TaskModal/_TaskModal.cshtml");
}
