@model TaskReportVM
@using Humanizer

@{
    ViewData["Title"] = "All Tasks";
}


<partial name="_HideSideBar" />

@* Filter Form *@
<div class="card">
    <div class="card-body">
        <form method="get">
            <div class="row mb-2">
                <div class="col-3">
                    <input type="text" asp-for="TaskTitle" class="form-control form-control-border" placeholder="Task Name" autofocus>
                </div>
                <div class="col-3">
                    <select class="form-control form-control-border" asp-for="TaskTypeId" asp-items="@Model.TaskTypesList()">
                        <option value="">-- Select Task Type --</option>
                    </select>
                </div>
                <div class="col-3">
                    <select class="form-control form-control-border" asp-for="TaskTime" asp-items="@Model.TaskTimeList()">
                        <option value="">-- Select Update Time --</option>
                    </select>
                </div>
                <div class="col-3">
                    <select class="form-control form-control-border" asp-for="CreatedBy" asp-items="@Model.UserList()">
                        <option value="">-- Select User --</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <input type="text" asp-for="ClientName" class="form-control form-control-border" placeholder="Client Name">
                </div>

                <div class="col-2">
                    <select class="form-control form-control-border" asp-for="TSKStatus" asp-items="@Model.TaskStatusList()">
                        <option value="">-- Select Task Status --</option>
                    </select>
                </div>

                <div class="col-4 d-flex justify-content-center align-items-center">
                    <button type="submit" class="btn btn-primary w-100">Search <i class="fas fa-search fa-fw"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>



<div class="card">
    <div class="card-header">
        <span class="card-title">All Tasks</span>
    </div>
    <div class="card-body">
        @if (Model.Tasks != null && Model.Tasks.Count > 0)
        {
            <table id="datatable" class="table table-hover table-striped table-sm w-100">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        @* <th scope="col">Task Name</th> *@
                        <th scope="col">Client Name</th>
                        <th scope="col">Cloud URL</th>
                        <th scope="col">Task Type</th>
                        <th scope="col">Task Time</th>
                        <th scope="col">Created Date</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int sn = 0;

                        foreach (var item in Model.Tasks)
                        {
                            sn++;
                                <tr>
                                    <td>@sn</td>
                                    @*<td title="@item.TaskTitle" style="width: 20%; max-width: 30px; white-space: nowrap !important; overflow:hidden !important; text-overflow: ellipsis !important;">
                    @item.TaskTitle
                    </td>*@

                                    <td style="width:20%">@item.ClientName</td>
                                    <td><a title="@item.CloudURL" href="@item.CloudURL" target="_blank">@item.CloudURL</a></td>
                                    <td>@item.TaskTypeName</td>
                                    <td>@Convert.ToDateTime(item.TimeSpan).Humanize()</td>
                                    <td>@item.RecDate</td>
                                    <td>

                                        @if (item.IsInPending)
                                    {
                                            <i title="@item.RecBy Created.">Pending</i>
                                    }
                                    else if (item.IsInProgress)
                                    {
                                            <i title="@item.ProccedBy is working on it.">Working</i>
                                    }
                                    else if (item.IsCompleted)
                                    {
                                            <i title="@item.CompletedBy Completed.">Completed ✅</i>
                                    }
                                    else
                                    {
                                            <i>Canceled</i>
                                    }

                                    </td>
                                    <td>
                                        @{
                                        item.IsShowPeekButton = true;
                                        item.IsShowDetailsButton = true;
                                        item.IsShowActionButton = false;
                                        }
                                        <partial name="_TaskActionButtons" model="@item" />
                                    </td>
                                </tr>
                        }
                    }
                </tbody>
            </table>
        }
    </div>
</div>

<div class="modal fade" id="TaskModal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="taskTitle">${task.taskTitle}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-muted">
                <b>Client Name : </b> <span id="clientName">${task.clientName}</span>
                <br>
                <b>Cloud URL : </b> <a href="${task.cloudURL}" target="_blank" id="cloudURL">${task.cloudURL}</a>
                <br>
                <b>Software Version : </b> <span id="SoftwareVersionFrom"></span> <b>To</b> <span id="SoftwareVersionTo"></span>
                <br>
                <b>Issue On Previous Software : </b> <span id="issueOnPreviousSoftware">${task.issueOnPreviousSoftware}</span>
                <br>
                <b>Created Date : </b> <span id="createdDate">${task.createdDate}</span>
                <br>
                <b>Created By : </b> <span id="createdBy">${task.createdBy}</span>


                <div class="card">
                    <div class="card-body">
                        <h2>Remarks: </h2>
                        <div id="remarks">
                            ${task.remarks}
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer justify-content-end">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>

</div>

@section Scripts{
    <script>
        $(document).ready(() => {
            let PeekBtn = document.querySelectorAll(".peekBtn");
            PeekBtn.forEach((btn) => {
                $(btn).click((e) => {
                    var TaskId = $(e.currentTarget).attr("data-TaskId");
                    fetch(`/Task/GetTask/${TaskId}`)
                        .then(response => response.json())
                        .then(data => {
                            let task = data.data[0];
                            $("#taskTitle").text(task.taskTitle);
                            $("#clientName").text(task.clientName);
                            $("#cloudURL").text(task.cloudURL);
                            $("#cloudURL").attr("href", task.cloudURL);
                            $("#SoftwareVersionFrom").text(task.softwareVersionFrom);
                            $("#SoftwareVersionTo").text(task.softwareVersionTo);
                            $("#issueOnPreviousSoftware").text(task.issueOnPreviousVersion);
                            $("#createdDate").text(task.createdDate);
                            $("#createdBy").text(task.createdBy);
                            $("#remarks").text(task.remarks);
                        })
                })
            })
        })
    </script>
}