@using Humanizer
@using NepDate
@using App.Base.Constants
@model TaskTempVM

@{
    ViewData["Title"] = "Task Details";
}

<div class="alert alert-info text-center p-2 mb-1">
    <h1 class="mb-0">@Model.TaskTypeName</h1>
</div>

<div class="card">
    <div class="card-body">
        @if (Model != null)
        {
            <div class="row">
                <div class="col-md-7 col-sm-12">
                    <table class="table table-bordered">
                        <tr>
                            <th>Client Name</th>
                            <td>@Model.ClientName</td>
                        </tr>
                        @if (!string.IsNullOrEmpty(Model.CloudURL))
                        {
                            <tr>
                                <th>Cloud URL</th>
                                <td>
                                    <button type="button" class="btn btn-primary btn-xs" style="font-size: 10px !important;" ctm-copy="copy" ctm-copy-for="copy-cloud-url" title="Copy Cloud URL"><i class="fa-solid fa-copy"></i></button>
                                    <span id="copy-cloud-url">
                                        <a href="@Model.CloudURL" target="_blank">@Model.CloudURL</a>
                                    </span>
                                </td>
                            </tr>
                        }
                        <tr>
                            <th>Task Type</th>
                            <td>@Model.TaskTypeName</td>
                        </tr>
                        <tr>
                            <th>Task Name</th>
                            <td>@Model.TaskTitle</td>
                        </tr>
                        <tr>
                            <th>Task Time</th>
                            <td>@Model.TaskTime</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-5 col-sm-12">
                    <partial name="~/Views/Shared/TaskModal/_TaskSummary.cshtml" />
                    <div class="card">
                        <div class="card-body p-2">
                            @{
                                Model.IsShowPeekButton = false;
                                Model.IsShowActionButton = true;
                                Model.IsShowDetailsButton = false;
                            }
                            <partial name="_TaskActionButtons" model="@Model" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@if (Model.cloudTaskLogs != null && Model.cloudTaskLogs.Count > 0)
{
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            <h1 class="h2">Timeline</h1>
            <hr/>

            <!-- Timelime example  -->
            <div class="row">
                <div class="col-md-12">
                    <!-- The time line -->
                    <div class="timeline">


                        @foreach (var cloudTaskLog in Model.cloudTaskLogs)
                        {
                            if (cloudTaskLog.CloudTaskStatus == CloudTaskStatus.Pending)
                            {
                                <!-- timeline time label -->
                                <div class="time-label">
                                    <span class="bg-purple">
                                        @* @cloudTaskLog.RecDate.ToString("dd MMM yyyy") *@
                                        @cloudTaskLog.RecDate.ToNepaliDate()
                                        </span>
                                </div>
                                <!-- /.timeline-label -->
                                <!-- timeline item -->
                                <div>
                                    <i class="fas fa-solid fa-clock bg-purple"></i>
                                    <div class="timeline-item">
                                        <span class="time"><i class="fas fa-clock"></i> @Convert.ToDateTime(cloudTaskLog.RecDate).Humanize()</span>

                                        <h3 class="timeline-header no-border"><a href="#">@cloudTaskLog.UserName</a> created a task. </h3>
                                    </div>
                                </div>
                                <!-- END timeline item -->
                            }
                            else if (cloudTaskLog.CloudTaskStatus == CloudTaskStatus.InProgress)
                            {
                                <!-- timeline time label -->
                                <div class="time-label">
                                    <span class="bg-yellow">
                                        @cloudTaskLog.RecDate.ToNepaliDate()
                                    </span>
                                </div>
                                <!-- /.timeline-label -->
                                <!-- timeline item -->
                                <div>
                                    <i class="fas fa-solid fa-hammer bg-yellow"></i>
                                    <div class="timeline-item">
                                        <span class="time"><i class="fas fa-clock"></i> @Convert.ToDateTime(cloudTaskLog.RecDate).Humanize()</span>

                                        <h3 class="timeline-header no-border"><a href="#">@cloudTaskLog.UserName</a> start a task. </h3>
                                    </div>
                                </div>
                                <!-- END timeline item -->
                            }
                            else if (cloudTaskLog.CloudTaskStatus == CloudTaskStatus.Completed)
                            {
                                <!-- timeline time label -->
                                <div class="time-label">
                                    <span class="bg-green">
                                        @cloudTaskLog.RecDate.ToNepaliDate()
                                    </span>
                                </div>
                                <!-- /.timeline-label -->
                                <!-- timeline item -->
                                <div>
                                    <i class="fas fa-solid fa-check bg-green"></i>
                                    <div class="timeline-item">
                                        <span class="time"><i class="fas fa-clock"></i> @Convert.ToDateTime(cloudTaskLog.RecDate).Humanize()</span>

                                        <h3 class="timeline-header no-border"><a href="#">@cloudTaskLog.UserName</a> completed a task. </h3>
                                    </div>
                                </div>
                                <!-- END timeline item -->
                            }
                            else if (cloudTaskLog.CloudTaskStatus == CloudTaskStatus.Canceled)
                            {
                                <!-- timeline time label -->
                                <div class="time-label">
                                    <span class="bg-dark">
                                        @cloudTaskLog.RecDate.ToNepaliDate()
                                    </span>
                                </div>
                                <!-- /.timeline-label -->
                                <!-- timeline item -->
                                <div>
                                    <i class="fas fa-solid fa-times bg-dark"></i>
                                    <div class="timeline-item">
                                        <span class="time"><i class="fas fa-clock"></i> @Convert.ToDateTime(cloudTaskLog.RecDate).Humanize()</span>

                                        <h3 class="timeline-header no-border"><a href="#">@cloudTaskLog.UserName</a> canceled a task. </h3>
                                    </div>
                                </div>
                                <!-- END timeline item -->
                            }
                        }

                        <div>
                            <i class="fas fa-clock bg-gray"></i>
                        </div>
                    </div>
                </div>
                <!-- /.col -->
            </div>
        </div>
        <!-- /.timeline -->

    </section>
    <!-- /.content -->
}



@section Scripts{
    <script>
        $(document).ready(function () {
            $("[ctm-copy=copy]").click(function () {
                var id = $(this).attr('ctm-copy-for');
                var el = document.getElementById(id);
                var range = document.createRange();
                range.selectNodeContents(el);
                var sel = window.getSelection();
                sel.removeAllRanges();
                sel.addRange(range);
                document.execCommand('copy');
                return false;
            });
        });
    </script>
            }
