@model IEnumerable<UserVM>
@inject App.Base.Providers.Interfaces.ILoginUserProvider UserProvider;

@{
    ViewData["Title"] = "All Users";
}


<div class="card">
    <div class="card-header">
        <h1>All Users</h1>
    </div>
    <div class="card-body">
        <table id="datatable" class="table table-hover table-striped table-sm w-100">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>IsAdmin</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 0;
                    foreach (var item in Model)
                    {
                        i++;
                        <tr>
                            <td>@i</td>
                            <td>@item.FullName</td>
                            <td>@item.Email</td>
                            <td>@item.IsAdmin</td>
                            <td>@item.Status</td>
                            <td>
                                @if (UserProvider.IsAdmin())
                                {
                                    if (item?.IsActive == true)
                                    {
                                        <a asp-action="ActiveInactiveUser" asp-controller="Access" asp-route-id="@item.Id" class="btn btn-warning btn-xs">
                                            <i class="fa fa-ban"></i> 
                                            Deactivate
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-action="ActiveInactiveUser" asp-controller="Access" asp-route-id="@item.Id" class="btn btn-primary btn-xs">
                                            <i class="fa fa-check-circle"></i> 
                                            Activate
                                        </a>
                                    }

                                    <a asp-action="PasswordReset" asp-controller="Access" asp-route-UserId="@item.Id" class="btn btn-danger btn-xs">Reset Password</a>
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>