@inject App.Web.Providers.Interface.IUserProvider _userProvider
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - CTM</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/adminlte/plugins/fontawesome-free/css/all.min.css" asp-append-version="true">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/adminlte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css" asp-append-version="true">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/adminlte/dist/css/adminlte.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/adminlte/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css" asp-append-version="true">
</head>

<body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed text-sm" id="body">
    <div class="wrapper">

        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__wobble" src="~/adminlte/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60" asp-append-version="true">
        </div>

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-dark">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">


                <!-- Notifications Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-bell"></i>
                        <span class="badge badge-warning navbar-badge">15</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-item dropdown-header">15 Notifications</span>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-envelope mr-2"></i> 4 new messages
                            <span class="float-right text-muted text-sm">3 mins</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-users mr-2"></i> 8 friend requests
                            <span class="float-right text-muted text-sm">12 hours</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-file mr-2"></i> 3 new reports
                            <span class="float-right text-muted text-sm">2 days</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                    </div>
                </li>

                <!-- Messages Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-user"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-item dropdown-header">@_userProvider.GetUsername()</span>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-key mr-2"></i> Change Passowrd
                        </a>
                        <div class="dropdown-divider"></div>
                        <a asp-controller="Home" asp-action="Logout" class="dropdown-item">
                            <i class="fas fa-sign-out-alt mr-2"></i> Log Out
                        </a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                    <i class="fas fa-th-large"></i>
                  </a>
                </li> -->
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a asp-controller="Home" asp-action="Index" class="brand-link">
                <img src="~/adminlte/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">Cloud Task Management</span>
            </a>


            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/adminlte/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block" id="FullName">@_userProvider.GetUsername()</a>
                    </div>
                </div>


                <script>
                    //$("#FullName").text(localStorage.getItem("FullName");
                </script>


                <!-- SidebarSearch Form -->
                <div class="form-inline">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-sidebar">
                                <i class="fas fa-search fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </div>




                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu"
                        data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                           with font-awesome or any other icon font library -->

                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Index" class="nav-link active">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Dashboard
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-tasks"></i>
                                <p>
                                    Tasks
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-controller="Task" asp-action="CreateTask" class="nav-link">
                                        <i class="far fa-plus nav-icon"></i>
                                        <p>Add Task</p>
                                    </a>
                                </li>
                                
                                <li class="nav-item">
                                    <a asp-controller="Task" asp-action="GetAllTask" class="nav-link">
                                        <i class="fas fa-search fa-fw nav-icon"></i>
                                        <p>Search Task</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Task" asp-action="GetAllPendingTask" class="nav-link">
                                        <i class="fas fa-solid fa-clock nav-icon"></i>
                                        <p>Pending Task</p>
                                    </a>
                                </li>


                                <li class="nav-item">
                                    <a asp-controller="Task" asp-action="GetAllWorkingTask" class="nav-link">
                                        <i class="fas fa-solid fa-hammer nav-icon"></i>
                                        <p>Working Task</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a asp-controller="Task" asp-action="GetAllCompletedTask" class="nav-link">
                                        <i class="fas fa-solid fa-check nav-icon"></i>
                                        <p>Completed Task</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a asp-controller="Task" asp-action="AuditTask" class="nav-link">
                                        <i class="fas fa-solid fa-bug nav-icon"></i>
                                        <p>Audit Task</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>




        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->


            <section class="content-header">
                <div class="container-fluid">
                    <!-- Info boxes -->
                    @RenderBody()
                    <!-- /.row -->
                </div><!--/. container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>

    </div>
    <!-- /.control-sidebar -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/adminlte/plugins/jquery/jquery.min.js" asp-append-version="true"></script>
    <!-- Bootstrap -->
    <script src="~/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <!-- overlayScrollbars -->
    <script src="~/adminlte/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js" asp-append-version="true"></script>
    <!-- AdminLTE App -->
    <script src="~/adminlte/dist/js/adminlte.js" asp-append-version="true"></script>

    <!-- PAGE PLUGINS -->
    <!-- jQuery Mapael -->
    <script src="~/adminlte/plugins/jquery-mousewheel/jquery.mousewheel.js" asp-append-version="true"></script>
    <script src="~/adminlte/plugins/raphael/raphael.min.js" asp-append-version="true"></script>
    <script src="~/adminlte/plugins/jquery-mapael/jquery.mapael.min.js" asp-append-version="true"></script>
    
    <script src="~/adminlte/plugins/sweetalert2/sweetalert2.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @if (TempData["success"] != null)
    {
        <script>
            $(function () {

                var Toast = Swal.mixin({
                    toast: true,
                    position: 'bottom-end',
                    showConfirmButton: false,
                    timer: 100000
                });

                Toast.fire({
                    icon: 'success',
                    title: '@TempData["success"]'
                })
            })
        </script>
    }

    @if (TempData["error"] != null)
    {
        <script>
            $(function () {

                var Toast = Swal.mixin({
                    toast: true,
                    position: 'bottom-end',
                    showConfirmButton: false,
                    timer: 3000
                });

                $(function () {
                    Toast.fire({
                        icon: 'error',
                        title: '@TempData["error"]'
                    })
                });
            })
        </script>
    }



    <!-- ChartJS -->
    @* <script src="~/adminlte/plugins/chart.js/Chart.min.js"></script> *@

    <!-- AdminLTE for demo purposes -->
    <!-- <script src="dist/js/demo.js"></script> -->
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    @* <script src="~/adminlte/dist/js/pages/dashboard2.js"></script> *@
    <partial name="_DataTableJS.cshtml" />
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>