@foreach (var item in Model.Tasks)
{
    <div class="modal fade" id="TaskModal">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">@item.TaskTitle</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-muted">
                    <b>Client Name : </b> @item.ClientName
                    <br>
                    <b>Cloud URL : </b> <a href="@item.CloudURL">@item.CloudURL</a>
                    <br>
                    <b>Software Version : </b> @item.SoftwareVersionFrom <b>To</b> @item.SoftwareVersionTo
                    <br>
                    <b>Issue On Previous Software : </b> @item.IssueOnPreviousSoftware
                    <br>
                    <b>Created Date : </b> @item.RecDate
                    <br>
                    <b>Created By : </b> @item.RecBy


                    <div class="card">
                        <div class="card-body">
                            <h2>Remarks: </h2>
                            <div>
                                @item.Remarks
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer justify-content-end">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>

    </div>
}